footer {
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #6050ce;
  z-index: 15;
}
#flex-info-rishabh {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  height: fit-content;
  margin-bottom: 5%;
}
#link-rishabh {
  display: flex;
  flex-direction: row;
  flex: 33%;
  text-align: left;
  margin-top: 2%;
}
.li-rishabh {
  margin-top: 4%;
  margin-bottom: 11%;
}
#left-rishabh {
  display: flex;
  flex-direction: column;
  flex: 50%;
  margin-left: 10%;
}
#right-rishabh {
  display: flex;
  flex-direction: column;
  flex: 50%;
}
.links-rishabh {
  text-decoration: none !important;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: white;
  margin-left: 41%;
}
.links-rishabh:hover {
  color: #f24d1d;
}
#reg-rishabh {
  display: flex;
  flex-direction: column;
  flex: 33%;
  margin-top: 1%;
}
#in-rishabh {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 6%;
}
#button-rishabh {
  background: #f7cc34;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 4px 0px #000000;
  height: 52px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-top: 10px;
  margin: 30px 30% 0px 30%;
}
#but-rishabh {
  text-decoration: none;
  color: #000000;
}
#button1-rishabh {
  background: #ffffff;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 4px 0px #000000;
  height: 52px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding-top: 10px;
  margin: 20px 30% 0px 30%;
}
#but1-rishabh {
  text-decoration: none;
  color: #000000;
}
#but-rishabh:hover {
  color: white;
}
#but1-rishabh:hover {
  color: #f24d1d;
}
#contact-rishabh {
  display: flex;
  flex-direction: column;
  flex: 33%;
  margin-top: 2.4%;
  text-align: left;
}
#head-rishabh {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 25%;
}
#mail-rishabh {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 4%;
  margin-left: 25%;
}
.con-rishabh {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 4%;
  margin-left: 25%;
}
#logos-rishabh {
  display: flex;
  flex: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
}
#img-rishabh {
  display: flex;
  flex-direction: row;
  flex: 100%;
  text-align: center;
  margin-bottom: 1%;
}
.imageBox-rishabh {
  position: relative;
  display: flex;
  flex: 30%;
  align-content: center;
  margin-right: 8%;
}
.imageBox-rishabh .hoverImg-rishabh {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.imageBox-rishabh:hover .hoverImg-rishabh {
  display: block;
}
.imageBox-rishabh:hover .img-rishabh {
  filter: drop-shadow(1px 1px 0px #ffffff);
}
.img-rishabh {
  width: 60px;
  height: 60px;
  filter: drop-shadow(4px 4px 0px #000000);
}
#last-rishabh {
  display: flex;
  flex: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 0.6%;
  padding-bottom: 3%;
}
#flex-info-mobile-rishabh {
  display: none;
}
@media (max-width: 800px) {
  #flex-info-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #flex-info-rishabh {
    display: none;
  }
  #reg-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin-top: 1%;
    text-align: center;
  }
  #right-rishabh {
    padding-left: 3%;
  }
  #nav-mobile-rishabh {
    display: flex;
    flex: 100%;
    flex-direction: row;
    text-align: left;
    margin-top: 8%;
    margin-bottom: 15%;
  }
  #link-mobile-rishabh {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-top: 2%;
    margin-left: 3%;
  }
  #contact-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex: 50%;
  }
  .li-mobile-rishabh {
    margin-top: 10%;
  }
  .links-mobile-rishabh {
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: white;
  }
  .links-mobile-rishabh:hover {
    color: #f24d1d;
    text-decoration: none;
  }
  #in-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 3%;
  }
  #button-mobile-rishabh {
    background: #f7cc34;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #000000;
    height: 52px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding-top: 9px;
    margin: 5% 10% 0% 10%;
  }
  #button1-mobile-rishabh {
    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #000000;
    height: 52px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding-top: 9px;
    margin: 3% 10% 0% 10%;
  }
  #but-mobile-rishabh {
    text-decoration: none;
    color: #000000;
  }
  #but1-mobile-rishabh {
    text-decoration: none;
    color: #000000;
  }
  #but-mobile-rishabh:hover {
    color: white;
  }
  #but1-mobile-rishabh:hover {
    color: #f24d1d;
  }
  #contact-mobile-rishabh {
    margin-top: 4%;
    margin-bottom: 3%;
  }
  #head-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
  }
  #mail-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .con-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
  }
  .img-rishabh {
    width: 32px;
    height: 32px;
    filter: drop-shadow(2px 2px 0px #000000);
  }
  #img-rishabh {
    margin-bottom: 2%;
    margin-left: 0%;
    font-size: 12px;
    line-height: 16px;
  }
  .imageBox-rishabh {
    margin-right: 0%;
  }
  #last-rishabh {
    font-size: 12px;
    line-height: 16px;
    margin-left: 0%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
  #flex-info-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #flex-info-rishabh {
    display: none;
  }
  #reg-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin-top: 1%;
    text-align: center;
  }
  #nav-mobile-rishabh {
    display: flex;
    flex: 100%;
    flex-direction: row;
    text-align: left;
    margin-top: 8%;
    margin-bottom: 15%;
  }
  #link-mobile-rishabh {
    display: flex;
    flex-direction: row;
    flex: 50%;
    margin-top: 3%;
    margin-left: 5%;
  }
  #contact-mobile-rishabh {
    display: flex;
    flex-direction: column;
    flex: 50%;
  }
  .li-mobile-rishabh {
    margin-top: 10%;
  }

  .links-mobile-rishabh {
    text-decoration: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: white;
  }
  .links-mobile-rishabh :hover {
    color: #f24d1d;
    text-decoration: none;
  }
  #in-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 3%;
  }
  #button-mobile-rishabh {
    background: #f7cc34;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #000000;
    height: 52px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding-top: 5px;
    margin: 5% 20% 0% 20%;
  }
  #button1-mobile-rishabh {
    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 4px 0px #000000;
    height: 52px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding-top: 5px;
    margin: 3% 20% 0% 20%;
  }
  #but-mobile-rishabh {
    text-decoration: none;
    color: #000000;
  }
  #but1-mobile-rishabh {
    text-decoration: none;
    color: #000000;
  }
  #but-mobile-rishabh:hover {
    color: white;
  }
  #but1-mobile-rishabh:hover {
    color: #f24d1d;
  }
  #contact-mobile-rishabh {
    margin-top: 5%;
    margin-bottom: 3%;
  }
  #head-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
  }
  #mail-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  .con-mobile-rishabh {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .img-rishabh {
    width: 40px;
    height: 40px;
    filter: drop-shadow(3px 3px 0px #000000);
  }
  #img-rishabh {
    margin-bottom: 2%;
    margin-left: 0%;
    font-size: 12px;
    line-height: 16px;
  }
  .imageBox-rishabh {
    margin-right: 0%;
  }
  #last-rishabh {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0%;
  }
}
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  #link-rishabh,
  #contact-rishabh {
    flex: 30%;
  }
  #reg-rishabh {
    flex: 40%;
  }
  .links-rishabh {
    margin-left: 40%;
  }
  .links-rishabh:hover {
    color: #f24d1d;
  }
}

/* .check {
  background-color: #a837dd;
  height: 1200px;
  width: 1500px;
} */
.container-arsal {
  position: relative;
  overflow: hidden;
}
.Abouthead-arsal {
  font-family: "DM Serif Display";
  font-size: 44px;
  margin: 0px 0px 12px 212px;
  padding-top: 88px;
}

.Aboutpara-arsal {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 212px;
  margin-right: 524px;
  font-size: 20px;
  font-family: "DM Sans";
  margin-bottom: 179px;
  font-weight: normal;
}

.purptext-arsal {
  color: #a837dd;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.redtext-arsal {
  color: #f24d1d;
  font-family: "DM Sans", sans-serif;

  font-weight: 500;
}

.wheelimg-arsal {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 382px;
  height: 416.61px;
  z-index: -1;
}

.para-arsal {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (max-width: 1100px) {
  .wheelimg-arsal {
    position: absolute;
    top: -55px;
    right: -10px;
    width: 201px;
    height: 199px;
    z-index: -1;
  }
  .Abouthead-arsal {
    font-family: "DM Serif Display";
    font-size: 24px;
    margin: 0px 0px 16px 22px;
    padding-top: 91px;
  }

  .Aboutpara-arsal {
    display: block;
    margin-top: 0px;
    margin-bottom: 94px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 14px;
    font-family: "DM Sans";
  }
}

.navbar {
  position: fixed;
}

.home-bg-jaydeep {
  background-image: url("./assets/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 47.75rem;
  position: relative;
  padding: 0% 0%;
  margin-top: 0%;
  overflow: hidden !important;
  z-index: 0;
}
.nav-logo-jaydeep {
  position: relative !important;
  /* max-width: 10%; */
  min-width: 58.6px;
  border-radius: 0px;
}
.navbar-jaydeep {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: inherit;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-left: 0%;
  background: #ffffff !important;
  margin-left: 8% !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.jd-button-jaydeep {
  position: absolute;
  z-index: 15;
  width: 216px;
  height: 52px;
  background: #7289d7;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 4px 0px #000000;
  height: 52px;

  width: 216px;
  left: 53%;
  right: auto;
  top: 65%;
  border-radius: 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  z-index: 2;
  color: #ffffff;
}

.jd-button-jaydeep:hover {
  color: black;
}

.register-button-jaydeep {
  position: absolute;
  width: 216px;
  height: 52px;
  left: 33%;
  top: 65%;
  background: #f7cc34;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 0px #000000;
  height: 52px;
  width: 216px;
  border-radius: nullpx;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  z-index: 2;
}

.register-button-jaydeep:hover {
  color: white;
}

.nv-jaydeep {
  position: relative;
  left: 0px;
  top: 0px;
  float: right !important;
  font-family: DM Sans !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px;
  color: #000000 !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 26px;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.nv-jaydeep:hover {
  color: #f24d1d !important;
}
.star-1-jaydeep {
  position: absolute;
  left: 53.06%;
  right: 28.19%;
  width: 18%;
  z-index: -1;
}
.star-2-jaydeep {
  top: 20%;
  position: absolute;
  width: 28%;
  left: -9%;
  z-index: 1;
}

.star-3-jaydeep {
  position: absolute;
  width: 40%;
  height: 50%;
  left: 70%;
  top: 50%;
  right: -20%;
  transform: rotate(16.44deg);
  z-index: -1;
}

.banner-jaydeep {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  position: absolute;
  width: 664px;
  height: 237px;

  top: 2px;
  z-index: -1;
  background: #ffffff;
  border: 4px solid #000000;
  box-shadow: 10px 10px 0px #000000;

  left: 28%;
  top: 193.8px;
  border-radius: 0px;
  padding: 24px;
}

.event-name-jaydeep {
  position: absolute;
  width: 377px;
  margin: auto;
  border-radius: 0px;
}
.date-jaydeep {
  width: 38%;
  margin: auto;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto;
  border-radius: nullpx;
}

#navbarSupportedContent-jaydeep {
  background-color: #ffffff00;
}
.toggle-jaydeep {
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .banner-jaydeep {
    height: 142px;

    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 88%;
    height: 142px;
    left: 24px;
    top: 130.8px !important;

    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: -1;
  }
  .event-name-jaydeep {
    border-radius: 0px;
    padding: 5px, 0px, 5px, 0px;
    position: absolute;

    margin: auto;

    width: 60%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .date-jaydeep {
    width: 170px;
    margin: auto;
    text-align: center;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;

    color: #000000;

    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .home-bg-jaydeep {
    height: 597.2px;
  }
  .nav-logo-jaydeep {
    width: 58.6px !important;
  }
  .register-button-jaydeep {
    width: 88%;
    height: 42px;
    left: 24px;
    top: 304.8px;

    background: #f7cc34;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #000000;

    /* Inside Auto Layout */
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 16px !important;
    margin: 16px 0px !important;
  }
  .jd-button-jaydeep {
    width: 88%;
    height: 42px;
    left: 24px;
    right: 1;
    top: 362.8px;
    background: #7289d7;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 3px 3px 0px #000000;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    color: #ffffff;

    margin: 16px 0px !important;
  }
  .star-1-jaydeep {
    position: absolute;
    left: 67.5%;
    right: -5.56%;
    bottom: 70.62%;
    height: 137px;
    width: 137px;
    left: 243px;
    top: 0px;
    border-radius: 0px;
  }
  .star-2-jaydeep {
    position: absolute;
    right: 67.5%;
    top: 42.97%;
    bottom: 32.81%;
    height: 155px;
    width: 153px;
    top: 227.8px;
    border-radius: 0px;
    z-index: -2;
  }
  .star-3-jaydeep {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 201px;
    top: 430px;
    height: 190px;
    width: 190px;
    left: 201px;
    top: 382.8px;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .banner-jaydeep {
    height: 142px;

    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    width: 60%;
    height: 142px;
    left: 25%;

    top: 30%;
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: -1;
  }
  .event-name-jaydeep {
    border-radius: 0px;
    padding: 5px, 0px, 5px, 0px;
    position: absolute;

    margin: auto;

    width: 50%;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .date-jaydeep {
    width: 170px;
    margin: auto;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  .jd-button-jaydeep {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 52px;
    background: #7289d7;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 4px 0px #000000;
    left: 55%;
    right: auto;
    top: 65%;
    border-radius: 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    margin-left: 2%;
  }
  .register-button-jaydeep {
    position: absolute;
    width: 216px;
    height: 52px;
    left: 35%;
    top: 65%;
    background: #f7cc34;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 4px 4px 0px #000000;
    height: 52px;
    width: 20%;
    border-radius: nullpx;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-right: 2%;
  }
  .star-3-jaydeep {
    width: 40%;
  }
}

.spk {
  background-image: url("./assets/Speakers.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.spkh1 {
  font-family: DM Serif Display;
  color: #ffffff;
  font-size: 48px;
}
.speakersec {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.spkrow {
  text-align: center;
  display: flex;
  justify-content: center;
}

.spkcard {
  box-shadow: 7px 7px 0px #000000;
  border-radius: 0px !important;
  border: 0px solid #000000 !important;
  margin-bottom: 5%;
  max-height: 91%;
}

.spkhd {
  font-family: DM Serif Display;
  font-size: 28px;
  font-weight: normal;
}

.spktxt {
  color: #4986c8;
  font-family: DM Sans;
  font: size 16px !important;
}

.spksoc:hover {
  color: #f24d1d !important;
}

@media screen and (max-width: 995px) {
  .spk {
    background-image: url("./assets/Speakersm.svg");
  }
}

.column-partner-rishabh {
  display: inline-block;
  width: fit-content !important;
  justify-content: center;
  align-items: center;
}

.main-rishabh {
  margin-top: 3% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: center;
  align-items: center;
}
#partner-head-rishabh {
  margin-left: 15%;
  padding-top: 3%;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
  color: #000000;
}
#second-column-rishabh{
  margin-left: 3%;
}
#partner-1-rishabh {
  display: inline-block;
  width: fit-content;
  background: #f24d1d;
  border: 4px solid #000000;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 0px !important;
}
#partner-2-rishabh {
  display: inline-block;
  width: fit-content;
  background: #218d68;
  border: 4px solid #000000;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 0px !important;
}
.img-partner {
  width: 200px;
  height: 200px;
  margin-top: 1%;
}
#partner-name-1-rishabh {
  text-align: center;
  padding: 19px 68px;
  width: 410px;
  background: #ff8460;
}
#partner-name-2-rishabh {
  text-align: center;
  padding: 19px 68px;
  width: 410px;
  background: #58ac8f;
}

.title-rishabh {
  color: #ffffff;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .column-partner-rishabh {
    display: inline-block;
    width: fit-content !important;
    margin-top: 4% !important;
    justify-content: center;
    align-items: center;
  }
  .main-rishabh {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  #second-column-rishabh{
    margin-left: 0%;
  }
  #partner-1-rishabh {
    border: 4px solid #000000;
    box-shadow: 4px 4px 0px #000000;
  }
  #partner-2-rishabh {
    border: 4px solid #000000;
    box-shadow: 4px 4px 0px #000000;
  }
  .title-rishabh {
    color: #ffffff;
  }
}
@media screen and (max-width: 600px) {
  .column-partner-rishabh {
    margin-top: 4% !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
  }
  #second-column-rishabh{
    margin-left: 0%;
  }
  .img-partner {
    height: 170px;
    margin-top: 1%;
  }
  #partner-1-rishabh {
    border: 4px solid #000000;
    box-shadow: 2.55156px 2.23261px 0px #000000;
    width: 97%;
  }
  #partner-2-rishabh {
    border: 4px solid #000000;
    box-shadow: 2.55156px 2.23261px 0px #000000;
    width: 97%;
  }
  #partner-name-1-rishabh {
    text-align: center;
    width: 100%;
    background: #ff8460;
  }
  #partner-name-2-rishabh {
    text-align: center;
    width: 100%;
    background: #58ac8f;
  }
}

@media screen and (max-width: 400px) {
  #second-column-rishabh{
    margin-left: 0%;
  }
  .img-partner {
    height: 120px;
  }
  .title-rishabh {
    color: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.faqdiv {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
}

.faqcard {
  margin-right: 5%;
  margin-bottom: 2%;
  min-height: 230px;
  border: 4px solid black !important;
  border-radius: 0px !important;
}
.container {
  align-items: center;
}

.faqh2 {
  font-family: DM Serif Display;
  font-size: 28px;
  color: #ffffff;
  margin-top: 5%;
  font-weight: normal;
}
.faqtext {
  font-family: DM Sans;

  font-size: 18px;
  color: #ffffff;
}
.faqh1 {
  font-family: DM Serif Display;
  font-size: 48px;
}

.querycard {
  align-items: center;
  margin: auto;
}

@media (min-width: 1000px) {
  .date-jaydeep {
    margin-top: 10%;
    text-align: center;
  }
}
.container-ayu {
  display: flex;
  justify-content: center;
}
.faqdiv {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow: hidden;
}
.box-ayu {
  display: flex;
  flex-direction: column;
  padding: 2px;
}
.ibox-ayu {
  padding: 24px 27px;
  max-width: 488px;
  margin: 10px;
  border: 4px solid #000000;
  box-sizing: border-box;
}
.p-ayu {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.h1-ayu {
  font-family: DM Serif Text;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}
#attend {
  background-color: #f46d46;
}
#individually {
  background-color: #11a858;
}
#prizes {
  background-color: #ff6565;
}
#size {
  background-color: #cd307b;
}
#confirmed {
  background-color: #002bb5;
}
#session {
  background-color: #9648fb;
}
.h2 {
  width: 417px;
  height: 36px;
  left: 27px;
  top: 24px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  color: #000000;
}
.p2 {
  width: 434px;
  height: 52px;
  left: 27px;
  top: 70px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  color: #000000;
}
.querycard {
  align-items: center;
  margin: auto;
  background: #ffffff;
  border: 4px solid #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 27px;
  width: 488px;
}
.faqh1-ayu {
  font-family: DM Serif Display;
  font-size: 48px;
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;
}
@media only screen and (max-width: 680px) {
  .container-ayu {
    display: flex;
    flex-direction: column;
  }
  .box-ayu {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .querycard {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.prizes-arsal{
    width: 100vw;
    height: 31.81vw;
    background-image: url('./assets/prize-bg.svg');
    background-size: cover;
    margin-top: -1vw;
    margin-left: -1vw;
    /* padding-left: 14.722222vw; */

    /* display: flex;
    flex-direction: column;
    flex: 100%; */
}
.prize-card-arsal{
    width: 223px;
    height: 108px;
    /* width: 15.486vw;
    height: 48.43%; */

    background: #FFFFFF;
    border: 2.14423px solid #000000;
    box-sizing: border-box;
    box-shadow: 5.36058px 5.36058px 0px #218D68;
}
.prizecards-arsal{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2.222vw;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.prize-card-arsal{
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}

.prizeimg-arsal{
    margin-bottom: 0px;
    width: 8.07778vw; 
    height: 100% ;
}
.prizeimg3-arsal{
  margin-bottom: 0px;
  width: 9.16667vw; 
  height: 100% ;
}
.imgandcard-arsal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondprize-arsal,.beginnerprize-arsal{
    margin-left: 12.013889vw;
}
.beginnerprize-arsal{
    margin-top: 1vw;
}
.prize-text-arsal{
    /* margin-top: 15.53px; */
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;

    text-align: center;
    color: #218D68;
}
.text1-arsal,.text2-arsal{
  margin-top: 15.53px;
 font-size: 18px;
}
.text3-arsal{
    font-size: 28px;
    margin-top: 15.53px;
}
.money-arsal{
    font-size: 52px;
}
.prizes-head-arsal{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;

    margin-top: 0px;
    /* margin-left: 14.722222vw; */
    /* margin-left: 10%; */
    padding-top: 8vh;
}
.full-container-arsal{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* margin-top: 8.73%; */
    /* margin-top: 40px; */
}

@media (max-width:1100px){
    .prizes-arsal{
        background-image: url('./assets/bgmv.svg');
        width: 100vw;
        height: 160vw;
        max-height: 750px;
    }
    .prizecards-arsal{
        flex-direction: column;
        margin-top: 6.67vw;
        /* position: absolute; */
        /* top: 83px; */
    }
    .prize-card-arsal{
        width: 166.36px;
        height: 80.57px;
        background: #FFFFFF;
        border: 1.5996px solid #000000;
        box-sizing: border-box;
        box-shadow: 3.99899px 3.99899px;
    }
    .secondprize-arsal,.beginnerprize-arsal{
        margin-left: 0;
        padding-top: 24px;
    }
    .money-arsal{
        font-size: 18px;
    }
    .text1-arsal,.text2-arsal{
        margin-top: 15.53px;
        font-size: 12px;
       }
       .text3-arsal{
           font-size: 18px;
           margin-top: 15.53px;
       }
       /* .prizeimg-arsal{
        margin-bottom: 0px;
        width: 15.105vw; 
        height: 100% ;
    }
    .prizeimg3-arsal{
      margin-bottom: 0px;
      width: 18.35vw; 
      height: 100% ;
    } */
       .prizes-head-arsal{
           font-size: 24px;
           /* position: absolute; */
           /* left: 24px;
           top: 26px; */
       }
       /* .full-container-arsal{
           margin-right: none;
           margin-left: none;
       } */
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/* .check{
    background-color: #A837DD;
    height: 100vw;
    width: 100vw;
} */
.topheading-arsal{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    /* font-size: 44px; */
    font-size: 2.75em;

}

/* Layout  */
.container-schedule{
    padding-top: 9.027777vw;
    padding-bottom: 9.027777vw;
    padding-left: 14.722vw;
    padding-right: 6.722vw;

}

.outerbox-arsal{
    display: flex;
    /* border: 2px solid black;  */
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    /* justify-content: center; */

    flex-wrap: wrap;
    align-items: center;
    /* padding: 50px; */

    /* margin-left: 14%; */
}
.box-arsal{
 display: flex;
 /* border: 2px solid black;  */
 flex-direction: row;
 justify-content: center;
 margin-left: 0px;

 padding-top: 35px;
 padding-bottom: 50px;
 /* padding: 6.954vh 3.47222vw; */
 padding-left: 0px;
 padding-right: 0px;
}

/* Cards */

.day-arsal{
    display: flex;
flex-direction: column;
align-items: center;
padding: 40px 24px;
/* padding: 2.77778vh 1.66667vw; */

/* position: absolute;
left: 0px;
top: 0px; */

/* width: 21.666667vw;
height: 50.62586vh; */
width: 312px;
height: 364px;

background: #FFFFFF;
border: 3px solid #000000;
box-sizing: border-box;
/* box-shadow: 10px 10px 0px #FF6565; */
}
.day1-arsal{
    box-shadow: 10px 10px 0px #FF6565;
}
.day2-arsal{
    box-shadow: 10px 10px 0px #AB64FF;

    margin-left: 50px;
}
.day3-arsal{
    box-shadow: 10px 10px 0px #208D66;

    margin-left: 50px;
    margin-top: -15px;
}

/* Card texts  */

.cardhead-arsal{

    font-family: 'DM Serif Display';
    /* font-size: 40px; */
    font-size: 2.5em;
    font-weight: 400;

    margin:0px;
    margin-bottom: 16px;


}
.date-arsal{

    font-family: 'DM Sans';
    /* font-size: 16px; */
    font-size: 1em;
    font-weight: 700;

    margin: 0px;
    margin-bottom: 24px;
}
.content-arsal{
    color: #2A2A2A;
}
.bottomhead-arsal{
    font-family: 'DM Sans';
    /* font-size: 20px; */
    font-size: 1.25em;
    font-weight: 700;

    margin: 0px;
    margin-bottom: 8px;
}
.bottomtext-arsal{
    font-family: 'DM Sans';
    /* font-size: 18px; */
    font-size: 1.125em;
    font-weight: 400;

    margin: 0px;
    margin-bottom: 24px;
}

@media(max-width:1349px) and (min-width:961px){
    .box-arsal{
        padding-bottom: 100px;
    }
    .day3-arsal{
        margin-left: 206px;
    }
    .day2-arsal{
        margin-left: 100px;
    }

}
@media(max-width:961px){
    .outerbox-arsal{
        flex-direction: column;
    }
    .topheading-arsal{
        font-size: 24px;    
    }
    .box-arsal{
        padding-top: 43px;
        padding-bottom: 24px;
       }
    .day-arsal{
    padding: 18px 11px;
    width: 137px;
    height: 160px;
    }
    .day3-arsal{
        border: 1.31731px solid #000000;
        box-shadow: 4.39103px 4.39103px 0px #208D66;

        margin-left: 0px;
        margin-top: 0px;
    }
    .day2-arsal{
        border: 1.31731px solid #000000;
        box-shadow: 4.39103px 4.39103px 0px #AB64FF;
        margin-left: 38px;
    }
    .day1-arsal{
        border: 1.31731px solid #000000;
        box-shadow: 4.39103px 4.39103px 0px #FF6565;
    }
    .cardhead-arsal{
        font-size: 16px;
        margin-bottom: 2px;
    }
    .date-arsal{
        font-size: 8px;
        margin-bottom: 10.54px;
    }
    .bottomhead-arsal{
        font-size: 10px;
        margin: 0px;
        margin-bottom: 2px;
    }
    .bottomtext-arsal{
        font-size: 8px;
        margin: 0px;
        margin-bottom: 10.54px;
    }

}
